In [1]:
# Install necessary libraries
!pip3 install adtk  # data analysis and exploration
!pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: adtk in ./.local/lib/python3.9/site-packages (0.6.2)
Requirement already satisfied: numpy>=1.15 in ./.local/lib/python3.9/site-packages (from adtk) (1.26.1)
Requirement already satisfied: pandas>=0.23 in ./.local/lib/python3.9/site-packages (from adtk) (2.1.1)
Requirement already satisfied: matplotlib>=3.0 in ./.local/lib/python3.9/site-packages (from adtk) (3.8.0)
Requirement already satisfied: scikit-learn>=0.20 in ./.local/lib/python3.9/site-packages (from adtk) (1.3.2)
Requirement already satisfied: statsmodels>=0.9 in ./.local/lib/python3.9/site-packages (from adtk) (0.14.0)
Requirement already satisfied: packaging>=17.0 in ./.local/lib/python3.9/site-packages (from adtk) (23.2)
Requirement already satisfied: tabulate>=0.8 in ./.local/lib/python3.9/site-packages (from adtk) (0.9.0)
Requirement already satisfied: contourpy>=1.0.1 in ./.local/lib/python3.9/site-packages (from matplotlib>=3.0->adtk) (1.1.1)
Requirement already satisfied: cycler>=0.10 in ./.local/lib/python3.9/site-packages (from matplotlib>=3.0->adtk) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.local/lib/python3.9/site-packages (from matplotlib>=3.0->adtk) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in ./.local/lib/python3.9/site-packages (from matplotlib>=3.0->adtk) (1.4.5)
Requirement already satisfied: pillow>=6.2.0 in ./.local/lib/python3.9/site-packages (from matplotlib>=3.0->adtk) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.local/lib/python3.9/site-packages (from matplotlib>=3.0->adtk) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in ./.local/lib/python3.9/site-packages (from matplotlib>=3.0->adtk) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in ./.local/lib/python3.9/site-packages (from matplotlib>=3.0->adtk) (6.1.0)
Requirement already satisfied: pytz>=2020.1 in ./.local/lib/python3.9/site-packages (from pandas>=0.23->adtk) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in ./.local/lib/python3.9/site-packages (from pandas>=0.23->adtk) (2023.3)
Requirement already satisfied: scipy>=1.5.0 in ./.local/lib/python3.9/site-packages (from scikit-learn>=0.20->adtk) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in ./.local/lib/python3.9/site-packages (from scikit-learn>=0.20->adtk) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./.local/lib/python3.9/site-packages (from scikit-learn>=0.20->adtk) (3.2.0)
Requirement already satisfied: patsy>=0.5.2 in ./.local/lib/python3.9/site-packages (from statsmodels>=0.9->adtk) (0.5.3)
Requirement already satisfied: zipp>=3.1.0 in ./.local/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib>=3.0->adtk) (3.17.0)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.2->statsmodels>=0.9->adtk) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in ./.local/lib/python3.9/site-packages (0.5.0)
Requirement already satisfied: prettytable in ./.local/lib/python3.9/site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (8.17.2)
Requirement already satisfied: sqlalchemy>=2.0 in ./.local/lib/python3.9/site-packages (from ipython-sql) (2.0.22)
Requirement already satisfied: sqlparse in ./.local/lib/python3.9/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in ./.local/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in ./.local/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in ./.local/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.9/dist-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.9/dist-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.9/dist-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /usr/local/lib/python3.9/dist-packages (from ipython->ipython-sql) (3.0.41)
Requirement already satisfied: pygments>=2.4.0 in /usr/local/lib/python3.9/dist-packages (from ipython->ipython-sql) (2.17.0)
Requirement already satisfied: stack-data in /usr/local/lib/python3.9/dist-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in /usr/local/lib/python3.9/dist-packages (from ipython->ipython-sql) (5.13.0)
Requirement already satisfied: exceptiongroup in ./.local/lib/python3.9/site-packages (from ipython->ipython-sql) (1.1.3)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.9/dist-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.9/dist-packages (from prettytable->ipython-sql) (0.2.10)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.9/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.9/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /usr/local/lib/python3.9/dist-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /usr/local/lib/python3.9/dist-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
#Import required modules:
import pandas as pd
import numpy as np
import sqlite3
pd.options.display.float_format = '{:,.2f}'.format
%matplotlib inline
import warnings
import time
import calendar
from datetime import datetime as dt
from adtk.data import validate_series
warnings.filterwarnings("ignore")

In [3]:
# Read CSV to dataframe mh:
mh = pd.read_csv('StudentMentalhealthnew.csv')

In [4]:
#Call the first 2 rows, (axis 0) of dataframe:
mh.head(2)

,date_time,gender,age,course_name,department,study_year,cgpa_score,depression,anxiety,panic_attack,specialist_hlp
0,2020/07/08 12:02:00,F,18,Engineering,Engineering,1,3.00 - 3.49,Y,N,Y,N
1,2020/07/08 12:04:00,M,21,Islamic education,RSEP,2,3.00 - 3.49,N,Y,N,N

In [5]:
#Call for mh dataframe datatypes:
mh.dtypes

date_time         object
gender            object
age                int64
course_name       object
department        object
study_year         int64
cgpa_score        object
depression        object
anxiety           object
panic_attack      object
specialist_hlp    object
dtype: object

In [6]:
cnn = sqlite3.connect('temp.db')

In [7]:
mh.to_sql('studmh', cnn, if_exists='replace')

101

In [8]:
%load_ext sql

In [9]:
%sql sqlite:///temp.db

In [10]:
%%sql
SELECT *
FROM studmh
LIMIT 3

 * sqlite:///temp.db
Done.

[(0, '2020/07/08 12:02:00', 'F', 18, 'Engineering', 'Engineering', 1, '3.00 - 3.49', 'Y', 'N', 'Y', 'N'),
 (1, '2020/07/08 12:04:00', 'M', 21, 'Islamic education', 'RSEP', 2, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 (2, '2020/07/08 12:05:00', 'M', 19, 'Business Information Tech', 'Information Technology', 1, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N')]

In [27]:
%%sql
DROP TABLE IF EXISTS tempstudmh;
CREATE TABLE tempstudmh
(
    date_time int
    ,gender varchar(10)
    , age int
    , department varchar (20)
    , study_year int
    , cgpa_score varchar (10)
    , depression varchar (10)
    , anxiety varchar (10)
    , panic_attack varchar (10)
    , specialist_hlp varchar (10)
);

SELECT *
FROM tempstudmh

 * sqlite:///temp.db
Done.
Done.
Done.

[]

In [28]:
%%sql
INSERT INTO tempstudmh
SELECT date_time, gender, age, department, study_year, cgpa_score, depression, anxiety, panic_attack, specialist_hlp
FROM studmh;

SELECT *
FROM tempstudmh;

 * sqlite:///temp.db
101 rows affected.
Done.

[('2020/07/08 12:02:00', 'F', 18, 'Engineering', 1, '3.00 - 3.49', 'Y', 'N', 'Y', 'N'),
 ('2020/07/08 12:04:00', 'M', 21, 'RSEP', 2, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 12:05:00', 'M', 19, 'Information Technology', 1, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 12:06:00', 'F', 22, 'Law', 3, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 12:13:00', 'M', 23, 'Mathematics', 4, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:31:00', 'M', 19, 'Engineering', 2, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 12:32:00', 'F', 23, 'RSEP', 2, '3.50 - 4.00', 'Y', 'N', 'Y', 'N'),
 ('2020/07/08 12:33:00', 'F', 18, 'Information Technology', 1, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 12:35:00', 'F', 19, 'Economics', 2, '2.50 - 2.99', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:39:00', 'M', 18, 'RSEP', 1, '3.50 - 4.00', 'N', 'Y', 'Y', 'N'),
 ('2020/07/08 12:39:00', 'F', 20, 'Psychology', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:39:00', 'F', 24, 'Engineering', 3, '3.50 - 4.00', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 12:40:00', 'F', 18, 'Information Technology', 1, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 12:41:00', 'M', 19, 'Engineering', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:43:00', 'F', 18, 'Economics', 2, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 12:43:00', 'M', 24, 'Information Technology', 3, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:46:00', 'F', 24, 'Economics', 3, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:52:00', 'F', 24, 'Sciences', 4, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 13:05:00', 'F', 20, 'Information Technology', 2, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 13:07:00', 'F', 18, 'Sciences', 2, '3.50 - 4.00', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 13:12:00', 'F', 19, 'Engineering', 1, '3.00 - 3.49', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 13:13:00', 'F', 18, 'Engineering', 2, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 13:13:00', 'F', 24, 'Information Technology', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 13:15:00', 'F', 24, 'Engineering', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 13:17:00', 'F', 23, 'Information Technology', 3, '3.50 - 4.00', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 13:29:00', 'F', 18, 'Economics', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 13:35:00', 'F', 19, 'Engineering', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 13:41:00', 'M', 18, 'Engineering', 2, '3.00 - 3.49', 'Y', 'Y', 'N', 'N'),
 ('2020/07/08 13:58:00', 'F', 24, 'Information Technology', 3, '3.50 - 4.00', 'Y', 'Y', 'Y', 'Y'),
 ('2020/07/08 14:05:00', 'F', 24, 'Information Technology', 4, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:27:00', 'F', 23, 'Economics', 2, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:29:00', 'M', 18, 'Information Technology', 2, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:29:00', 'M', 19, 'Information Technology', 1, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 14:31:00', 'M', 18, 'Information Technology', 2, '3.50 - 4.00', 'Y', 'Y', 'N', 'Y'),
 ('2020/07/08 14:41:00', 'F', 19, 'Information Technology', 1, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 14:43:00', 'F', 18, 'Engineering', 1, '2.00 - 2.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:43:00', 'F', 18, 'Law', 3, '3.00 - 3.49', 'Y', 'Y', 'N', 'N'),
 ('2020/07/08 14:45:00', 'F', 19, 'Information Technology', 1, '2.50 - 2.99', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 14:47:00', 'F', 18, 'RSEP', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:56:00', 'F', 24, 'Engineering', 2, '2.50 - 2.99', 'Y', 'N', 'Y', 'Y'),
 ('2020/07/08 14:57:00', 'F', 24, 'Information Technology', 3, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 14:57:00', 'F', 22, 'Engineering', 4, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:58:00', 'F', 20, 'RSEP', 2, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 15:07:00', 'M', 19, 'Information Technology', 1, '0 - 1.99', 'N', 'N', 'N', 'N'),
 ('2020/07/08 15:08:00', 'M', 23, 'Linguistics', 2, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 15:09:00', 'M', 18, 'Information Technology', 1, '3.50 - 4.00', 'N', 'Y', 'Y', 'N'),
 ('2020/07/08 15:12:00', 'F', 19, 'Engineering', 1, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 15:14:00', 'F', 18, 'Engineering', 4, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 15:14:00', 'M', 24, 'Information Technology', 2, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 15:18:00', 'F', 24, 'Information Technology', 3, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 15:27:00', 'F', 23, 'Arts', 1, '2.50 - 2.99', 'Y', 'N', 'Y', 'Y'),
 ('2020/07/08 15:37:00', 'F', 18, 'Information Technology', 2, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 15:47:00', 'F', 19, 'Sciences', 3, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 15:48:00', 'F', 20, 'Engineering', 3, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 15:57:00', 'F', 19, 'Information Technology', 1, '3.50 - 4.00', 'Y', 'N', 'Y', 'Y'),
 ('2020/07/08 15:58:00', 'M', 21, 'Information Technology', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 16:08:00', 'M', 23, 'RSEP', 3, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 16:21:00', 'F', 20, 'Linguistics', 3, '3.00 - 3.49', 'Y', 'Y', 'N', 'N'),
 ('2020/07/08 16:22:00', 'F', 18, 'Information Technology', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 16:34:00', 'F', 23, 'Linguistics', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 16:34:00', 'F', 18, 'Information Technology', 3, '3.00 - 3.49', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 16:53:00', 'F', 19, 'Information Technology', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 17:05:00', 'F', 18, 'Information Technology', 1, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 17:37:00', 'F', 24, 'Engineering', 1, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 17:46:00', 'F', 24, 'Engineering', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 17:50:00', 'F', 23, 'Economics', 1, '3.50 - 4.00', 'Y', 'Y', 'N', 'N'),
 ('2020/07/08 18:10:00', 'F', 18, 'Engineering', 3, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 18:11:00', 'M', 19, 'Sciences', 3, '3.00 - 3.49', 'Y', 'N', 'Y', 'N'),
 ('2020/07/08 19:05:00', 'F', 18, 'Media', 1, '3.50 - 4.00', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 19:32:00', 'F', 24, 'Sciences', 4, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 20:36:00', 'F', 24, 'Sciences', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 21:21:00', 'F', 18, 'Law', 3, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 22:35:00', 'F', 19, 'Information Technology', 3, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/09 06:57:00', 'M', 18, 'Sciences', 1, '0 - 1.99', 'N', 'N', 'N', 'N'),
 ('2020/07/09 11:43:00', 'M', 24, 'Information Technology', 3, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/09 11:57:00', 'F', 24, 'Engineering', 1, '3.50 - 4.00', 'N', 'Y', 'Y', 'N'),
 ('2020/07/09 13:15:00', 'F', 23, 'Engineering', 1, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/09 18:24:00', 'F', 18, 'Sciences', 2, '3.00 - 3.49', 'N', 'N', 'Y', 'N'),
 ('2020/07/13 10:07:32', 'F', 19, 'Sciences', 3, '0 - 1.99', 'N', 'N', 'N', 'N'),
 ('2020/07/13 10:10:30', 'F', 18, 'Engineering', 4, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/13 10:11:26', 'F', 24, 'Media', 2, '3.50 - 4.00', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/13 10:12:18', 'F', 24, 'Sciences', 2, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/13 10:12:26', 'F', 19, 'Engineering', 1, '3.00 - 3.49', 'Y', 'Y', 'N', 'N'),
 ('2020/07/13 10:12:28', 'F', 19, 'RSEP', 2, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/13 10:14:46', 'M', 23, 'Sciences', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/13 10:33:47', 'F', 18, 'Psychology', 1, '3.50 - 4.00', 'Y', 'Y', 'N', 'Y'),
 ('2020/07/13 10:34:08', 'F', 19, 'Law', 3, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/13 11:46:13', 'F', 18, 'Psychology', 1, '3.50 - 4.00', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/13 11:49:02', 'M', 24, 'Information Technology', 1, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/13 11:54:58', 'M', 24, 'Engineering', 2, '2.00 - 2.49', 'N', 'N', 'Y', 'N'),
 ('2020/07/13 13:57:11', 'F', 23, 'Linguistics', 3, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/13 14:38:12', 'M', 18, 'Engineering', 2, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/13 14:48:05', 'F', 19, 'Engineering', 2, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/13 16:15:13', 'F', 18, 'Linguistics', 1, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/13 17:30:44', 'F', 24, 'Law', 3, '0 - 1.99', 'N', 'N', 'Y', 'N'),
 ('2020/07/13 19:08:32', 'F', 18, 'RSEP', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/13 19:56:49', 'F', 21, 'Information Technology', 1, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/13 21:21:42', 'M', 18, 'Engineering', 2, '3.00 - 3.49', 'Y', 'Y', 'N', 'N'),
 ('2020/07/13 21:22:56', 'F', 19, 'Sciences', 3, '3.50 - 4.00', 'Y', 'N', 'Y', 'N'),
 ('2020/07/13 21:23:57', 'F', 23, 'RSEP', 4, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/18 20:16:21', 'M', 20, 'Sciences', 2, '3.00 - 3.49', 'N', 'N', 'N', 'N')]

In [33]:
%%sql
CREATE INDEX indx ON tempstudmh(date_time)

 * sqlite:///temp.db
Done.

[]

In [34]:
%%sql
SELECT *
FROM tempstudmh

 * sqlite:///temp.db
Done.

[('2020/07/08 12:02:00', 'F', 18, 'Engineering', 1, '3.00 - 3.49', 'Y', 'N', 'Y', 'N'),
 ('2020/07/08 12:04:00', 'M', 21, 'RSEP', 2, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 12:05:00', 'M', 19, 'Information Technology', 1, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 12:06:00', 'F', 22, 'Law', 3, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 12:13:00', 'M', 23, 'Mathematics', 4, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:31:00', 'M', 19, 'Engineering', 2, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 12:32:00', 'F', 23, 'RSEP', 2, '3.50 - 4.00', 'Y', 'N', 'Y', 'N'),
 ('2020/07/08 12:33:00', 'F', 18, 'Information Technology', 1, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 12:35:00', 'F', 19, 'Economics', 2, '2.50 - 2.99', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:39:00', 'M', 18, 'RSEP', 1, '3.50 - 4.00', 'N', 'Y', 'Y', 'N'),
 ('2020/07/08 12:39:00', 'F', 20, 'Psychology', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:39:00', 'F', 24, 'Engineering', 3, '3.50 - 4.00', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 12:40:00', 'F', 18, 'Information Technology', 1, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 12:41:00', 'M', 19, 'Engineering', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:43:00', 'F', 18, 'Economics', 2, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 12:43:00', 'M', 24, 'Information Technology', 3, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:46:00', 'F', 24, 'Economics', 3, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:52:00', 'F', 24, 'Sciences', 4, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 13:05:00', 'F', 20, 'Information Technology', 2, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 13:07:00', 'F', 18, 'Sciences', 2, '3.50 - 4.00', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 13:12:00', 'F', 19, 'Engineering', 1, '3.00 - 3.49', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 13:13:00', 'F', 18, 'Engineering', 2, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 13:13:00', 'F', 24, 'Information Technology', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 13:15:00', 'F', 24, 'Engineering', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 13:17:00', 'F', 23, 'Information Technology', 3, '3.50 - 4.00', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 13:29:00', 'F', 18, 'Economics', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 13:35:00', 'F', 19, 'Engineering', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 13:41:00', 'M', 18, 'Engineering', 2, '3.00 - 3.49', 'Y', 'Y', 'N', 'N'),
 ('2020/07/08 13:58:00', 'F', 24, 'Information Technology', 3, '3.50 - 4.00', 'Y', 'Y', 'Y', 'Y'),
 ('2020/07/08 14:05:00', 'F', 24, 'Information Technology', 4, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:27:00', 'F', 23, 'Economics', 2, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:29:00', 'M', 18, 'Information Technology', 2, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:29:00', 'M', 19, 'Information Technology', 1, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 14:31:00', 'M', 18, 'Information Technology', 2, '3.50 - 4.00', 'Y', 'Y', 'N', 'Y'),
 ('2020/07/08 14:41:00', 'F', 19, 'Information Technology', 1, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 14:43:00', 'F', 18, 'Engineering', 1, '2.00 - 2.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:43:00', 'F', 18, 'Law', 3, '3.00 - 3.49', 'Y', 'Y', 'N', 'N'),
 ('2020/07/08 14:45:00', 'F', 19, 'Information Technology', 1, '2.50 - 2.99', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 14:47:00', 'F', 18, 'RSEP', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:56:00', 'F', 24, 'Engineering', 2, '2.50 - 2.99', 'Y', 'N', 'Y', 'Y'),
 ('2020/07/08 14:57:00', 'F', 24, 'Information Technology', 3, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 14:57:00', 'F', 22, 'Engineering', 4, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:58:00', 'F', 20, 'RSEP', 2, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 15:07:00', 'M', 19, 'Information Technology', 1, '0 - 1.99', 'N', 'N', 'N', 'N'),
 ('2020/07/08 15:08:00', 'M', 23, 'Linguistics', 2, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 15:09:00', 'M', 18, 'Information Technology', 1, '3.50 - 4.00', 'N', 'Y', 'Y', 'N'),
 ('2020/07/08 15:12:00', 'F', 19, 'Engineering', 1, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 15:14:00', 'F', 18, 'Engineering', 4, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 15:14:00', 'M', 24, 'Information Technology', 2, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 15:18:00', 'F', 24, 'Information Technology', 3, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 15:27:00', 'F', 23, 'Arts', 1, '2.50 - 2.99', 'Y', 'N', 'Y', 'Y'),
 ('2020/07/08 15:37:00', 'F', 18, 'Information Technology', 2, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 15:47:00', 'F', 19, 'Sciences', 3, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 15:48:00', 'F', 20, 'Engineering', 3, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 15:57:00', 'F', 19, 'Information Technology', 1, '3.50 - 4.00', 'Y', 'N', 'Y', 'Y'),
 ('2020/07/08 15:58:00', 'M', 21, 'Information Technology', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 16:08:00', 'M', 23, 'RSEP', 3, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 16:21:00', 'F', 20, 'Linguistics', 3, '3.00 - 3.49', 'Y', 'Y', 'N', 'N'),
 ('2020/07/08 16:22:00', 'F', 18, 'Information Technology', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 16:34:00', 'F', 23, 'Linguistics', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 16:34:00', 'F', 18, 'Information Technology', 3, '3.00 - 3.49', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 16:53:00', 'F', 19, 'Information Technology', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 17:05:00', 'F', 18, 'Information Technology', 1, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 17:37:00', 'F', 24, 'Engineering', 1, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 17:46:00', 'F', 24, 'Engineering', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 17:50:00', 'F', 23, 'Economics', 1, '3.50 - 4.00', 'Y', 'Y', 'N', 'N'),
 ('2020/07/08 18:10:00', 'F', 18, 'Engineering', 3, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 18:11:00', 'M', 19, 'Sciences', 3, '3.00 - 3.49', 'Y', 'N', 'Y', 'N'),
 ('2020/07/08 19:05:00', 'F', 18, 'Media', 1, '3.50 - 4.00', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 19:32:00', 'F', 24, 'Sciences', 4, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 20:36:00', 'F', 24, 'Sciences', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 21:21:00', 'F', 18, 'Law', 3, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 22:35:00', 'F', 19, 'Information Technology', 3, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/09 06:57:00', 'M', 18, 'Sciences', 1, '0 - 1.99', 'N', 'N', 'N', 'N'),
 ('2020/07/09 11:43:00', 'M', 24, 'Information Technology', 3, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/09 11:57:00', 'F', 24, 'Engineering', 1, '3.50 - 4.00', 'N', 'Y', 'Y', 'N'),
 ('2020/07/09 13:15:00', 'F', 23, 'Engineering', 1, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/09 18:24:00', 'F', 18, 'Sciences', 2, '3.00 - 3.49', 'N', 'N', 'Y', 'N'),
 ('2020/07/13 10:07:32', 'F', 19, 'Sciences', 3, '0 - 1.99', 'N', 'N', 'N', 'N'),
 ('2020/07/13 10:10:30', 'F', 18, 'Engineering', 4, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/13 10:11:26', 'F', 24, 'Media', 2, '3.50 - 4.00', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/13 10:12:18', 'F', 24, 'Sciences', 2, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/13 10:12:26', 'F', 19, 'Engineering', 1, '3.00 - 3.49', 'Y', 'Y', 'N', 'N'),
 ('2020/07/13 10:12:28', 'F', 19, 'RSEP', 2, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/13 10:14:46', 'M', 23, 'Sciences', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/13 10:33:47', 'F', 18, 'Psychology', 1, '3.50 - 4.00', 'Y', 'Y', 'N', 'Y'),
 ('2020/07/13 10:34:08', 'F', 19, 'Law', 3, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/13 11:46:13', 'F', 18, 'Psychology', 1, '3.50 - 4.00', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/13 11:49:02', 'M', 24, 'Information Technology', 1, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/13 11:54:58', 'M', 24, 'Engineering', 2, '2.00 - 2.49', 'N', 'N', 'Y', 'N'),
 ('2020/07/13 13:57:11', 'F', 23, 'Linguistics', 3, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/13 14:38:12', 'M', 18, 'Engineering', 2, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/13 14:48:05', 'F', 19, 'Engineering', 2, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/13 16:15:13', 'F', 18, 'Linguistics', 1, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/13 17:30:44', 'F', 24, 'Law', 3, '0 - 1.99', 'N', 'N', 'Y', 'N'),
 ('2020/07/13 19:08:32', 'F', 18, 'RSEP', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/13 19:56:49', 'F', 21, 'Information Technology', 1, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/13 21:21:42', 'M', 18, 'Engineering', 2, '3.00 - 3.49', 'Y', 'Y', 'N', 'N'),
 ('2020/07/13 21:22:56', 'F', 19, 'Sciences', 3, '3.50 - 4.00', 'Y', 'N', 'Y', 'N'),
 ('2020/07/13 21:23:57', 'F', 23, 'RSEP', 4, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/18 20:16:21', 'M', 20, 'Sciences', 2, '3.00 - 3.49', 'N', 'N', 'N', 'N')]

In [34]:
%%sql
SELECT *
FROM tempstudmh

 * sqlite:///temp.db
Done.

[('2020/07/08 12:02:00', 'F', 18, 'Engineering', 1, '3.00 - 3.49', 'Y', 'N', 'Y', 'N'),
 ('2020/07/08 12:04:00', 'M', 21, 'RSEP', 2, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 12:05:00', 'M', 19, 'Information Technology', 1, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 12:06:00', 'F', 22, 'Law', 3, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 12:13:00', 'M', 23, 'Mathematics', 4, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:31:00', 'M', 19, 'Engineering', 2, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 12:32:00', 'F', 23, 'RSEP', 2, '3.50 - 4.00', 'Y', 'N', 'Y', 'N'),
 ('2020/07/08 12:33:00', 'F', 18, 'Information Technology', 1, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 12:35:00', 'F', 19, 'Economics', 2, '2.50 - 2.99', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:39:00', 'M', 18, 'RSEP', 1, '3.50 - 4.00', 'N', 'Y', 'Y', 'N'),
 ('2020/07/08 12:39:00', 'F', 20, 'Psychology', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:39:00', 'F', 24, 'Engineering', 3, '3.50 - 4.00', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 12:40:00', 'F', 18, 'Information Technology', 1, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 12:41:00', 'M', 19, 'Engineering', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:43:00', 'F', 18, 'Economics', 2, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 12:43:00', 'M', 24, 'Information Technology', 3, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:46:00', 'F', 24, 'Economics', 3, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 12:52:00', 'F', 24, 'Sciences', 4, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 13:05:00', 'F', 20, 'Information Technology', 2, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 13:07:00', 'F', 18, 'Sciences', 2, '3.50 - 4.00', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 13:12:00', 'F', 19, 'Engineering', 1, '3.00 - 3.49', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 13:13:00', 'F', 18, 'Engineering', 2, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 13:13:00', 'F', 24, 'Information Technology', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 13:15:00', 'F', 24, 'Engineering', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 13:17:00', 'F', 23, 'Information Technology', 3, '3.50 - 4.00', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 13:29:00', 'F', 18, 'Economics', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 13:35:00', 'F', 19, 'Engineering', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 13:41:00', 'M', 18, 'Engineering', 2, '3.00 - 3.49', 'Y', 'Y', 'N', 'N'),
 ('2020/07/08 13:58:00', 'F', 24, 'Information Technology', 3, '3.50 - 4.00', 'Y', 'Y', 'Y', 'Y'),
 ('2020/07/08 14:05:00', 'F', 24, 'Information Technology', 4, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:27:00', 'F', 23, 'Economics', 2, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:29:00', 'M', 18, 'Information Technology', 2, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:29:00', 'M', 19, 'Information Technology', 1, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 14:31:00', 'M', 18, 'Information Technology', 2, '3.50 - 4.00', 'Y', 'Y', 'N', 'Y'),
 ('2020/07/08 14:41:00', 'F', 19, 'Information Technology', 1, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 14:43:00', 'F', 18, 'Engineering', 1, '2.00 - 2.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:43:00', 'F', 18, 'Law', 3, '3.00 - 3.49', 'Y', 'Y', 'N', 'N'),
 ('2020/07/08 14:45:00', 'F', 19, 'Information Technology', 1, '2.50 - 2.99', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 14:47:00', 'F', 18, 'RSEP', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:56:00', 'F', 24, 'Engineering', 2, '2.50 - 2.99', 'Y', 'N', 'Y', 'Y'),
 ('2020/07/08 14:57:00', 'F', 24, 'Information Technology', 3, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 14:57:00', 'F', 22, 'Engineering', 4, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 14:58:00', 'F', 20, 'RSEP', 2, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 15:07:00', 'M', 19, 'Information Technology', 1, '0 - 1.99', 'N', 'N', 'N', 'N'),
 ('2020/07/08 15:08:00', 'M', 23, 'Linguistics', 2, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 15:09:00', 'M', 18, 'Information Technology', 1, '3.50 - 4.00', 'N', 'Y', 'Y', 'N'),
 ('2020/07/08 15:12:00', 'F', 19, 'Engineering', 1, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 15:14:00', 'F', 18, 'Engineering', 4, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 15:14:00', 'M', 24, 'Information Technology', 2, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 15:18:00', 'F', 24, 'Information Technology', 3, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 15:27:00', 'F', 23, 'Arts', 1, '2.50 - 2.99', 'Y', 'N', 'Y', 'Y'),
 ('2020/07/08 15:37:00', 'F', 18, 'Information Technology', 2, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 15:47:00', 'F', 19, 'Sciences', 3, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 15:48:00', 'F', 20, 'Engineering', 3, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 15:57:00', 'F', 19, 'Information Technology', 1, '3.50 - 4.00', 'Y', 'N', 'Y', 'Y'),
 ('2020/07/08 15:58:00', 'M', 21, 'Information Technology', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 16:08:00', 'M', 23, 'RSEP', 3, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 16:21:00', 'F', 20, 'Linguistics', 3, '3.00 - 3.49', 'Y', 'Y', 'N', 'N'),
 ('2020/07/08 16:22:00', 'F', 18, 'Information Technology', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 16:34:00', 'F', 23, 'Linguistics', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 16:34:00', 'F', 18, 'Information Technology', 3, '3.00 - 3.49', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 16:53:00', 'F', 19, 'Information Technology', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 17:05:00', 'F', 18, 'Information Technology', 1, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 17:37:00', 'F', 24, 'Engineering', 1, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 17:46:00', 'F', 24, 'Engineering', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/08 17:50:00', 'F', 23, 'Economics', 1, '3.50 - 4.00', 'Y', 'Y', 'N', 'N'),
 ('2020/07/08 18:10:00', 'F', 18, 'Engineering', 3, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 18:11:00', 'M', 19, 'Sciences', 3, '3.00 - 3.49', 'Y', 'N', 'Y', 'N'),
 ('2020/07/08 19:05:00', 'F', 18, 'Media', 1, '3.50 - 4.00', 'Y', 'N', 'N', 'N'),
 ('2020/07/08 19:32:00', 'F', 24, 'Sciences', 4, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/08 20:36:00', 'F', 24, 'Sciences', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/08 21:21:00', 'F', 18, 'Law', 3, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/08 22:35:00', 'F', 19, 'Information Technology', 3, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/09 06:57:00', 'M', 18, 'Sciences', 1, '0 - 1.99', 'N', 'N', 'N', 'N'),
 ('2020/07/09 11:43:00', 'M', 24, 'Information Technology', 3, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/09 11:57:00', 'F', 24, 'Engineering', 1, '3.50 - 4.00', 'N', 'Y', 'Y', 'N'),
 ('2020/07/09 13:15:00', 'F', 23, 'Engineering', 1, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/09 18:24:00', 'F', 18, 'Sciences', 2, '3.00 - 3.49', 'N', 'N', 'Y', 'N'),
 ('2020/07/13 10:07:32', 'F', 19, 'Sciences', 3, '0 - 1.99', 'N', 'N', 'N', 'N'),
 ('2020/07/13 10:10:30', 'F', 18, 'Engineering', 4, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/13 10:11:26', 'F', 24, 'Media', 2, '3.50 - 4.00', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/13 10:12:18', 'F', 24, 'Sciences', 2, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/13 10:12:26', 'F', 19, 'Engineering', 1, '3.00 - 3.49', 'Y', 'Y', 'N', 'N'),
 ('2020/07/13 10:12:28', 'F', 19, 'RSEP', 2, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/13 10:14:46', 'M', 23, 'Sciences', 1, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/13 10:33:47', 'F', 18, 'Psychology', 1, '3.50 - 4.00', 'Y', 'Y', 'N', 'Y'),
 ('2020/07/13 10:34:08', 'F', 19, 'Law', 3, '3.00 - 3.49', 'N', 'N', 'N', 'N'),
 ('2020/07/13 11:46:13', 'F', 18, 'Psychology', 1, '3.50 - 4.00', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/13 11:49:02', 'M', 24, 'Information Technology', 1, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/13 11:54:58', 'M', 24, 'Engineering', 2, '2.00 - 2.49', 'N', 'N', 'Y', 'N'),
 ('2020/07/13 13:57:11', 'F', 23, 'Linguistics', 3, '3.50 - 4.00', 'N', 'N', 'Y', 'N'),
 ('2020/07/13 14:38:12', 'M', 18, 'Engineering', 2, '3.00 - 3.49', 'N', 'Y', 'N', 'N'),
 ('2020/07/13 14:48:05', 'F', 19, 'Engineering', 2, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/13 16:15:13', 'F', 18, 'Linguistics', 1, '3.00 - 3.49', 'Y', 'N', 'N', 'N'),
 ('2020/07/13 17:30:44', 'F', 24, 'Law', 3, '0 - 1.99', 'N', 'N', 'Y', 'N'),
 ('2020/07/13 19:08:32', 'F', 18, 'RSEP', 1, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/13 19:56:49', 'F', 21, 'Information Technology', 1, '3.50 - 4.00', 'N', 'Y', 'N', 'N'),
 ('2020/07/13 21:21:42', 'M', 18, 'Engineering', 2, '3.00 - 3.49', 'Y', 'Y', 'N', 'N'),
 ('2020/07/13 21:22:56', 'F', 19, 'Sciences', 3, '3.50 - 4.00', 'Y', 'N', 'Y', 'N'),
 ('2020/07/13 21:23:57', 'F', 23, 'RSEP', 4, '3.50 - 4.00', 'N', 'N', 'N', 'N'),
 ('2020/07/18 20:16:21', 'M', 20, 'Sciences', 2, '3.00 - 3.49', 'N', 'N', 'N', 'N')]

In [45]:
%%sql
SELECT department, study_year, cgpa_score, count(date_time)
FROM tempstudmh
WHERE depression = 'Y'
AND anxiety = 'Y'
AND panic_attack = 'Y'
GROUP BY department;

 * sqlite:///temp.db
Done.

[('Engineering', 3, '3.00 - 3.49', 1),
 ('Information Technology', 1, '3.00 - 3.49', 5),
 ('Media', 2, '3.50 - 4.00', 1),
 ('Psychology', 1, '3.50 - 4.00', 1),
 ('Sciences', 4, '3.00 - 3.49', 2)]

In [53]:
%%sql
SELECT department, study_year, cgpa_score, count(date_time)
FROM tempstudmh
WHERE (depression = 'Y'
OR anxiety = 'Y'
OR panic_attack = 'Y')
GROUP BY department;

 * sqlite:///temp.db
Done.

[('Arts', 1, '2.50 - 2.99', 1),
 ('Economics', 2, '3.50 - 4.00', 2),
 ('Engineering', 1, '3.00 - 3.49', 17),
 ('Information Technology', 1, '3.00 - 3.49', 22),
 ('Law', 3, '3.00 - 3.49', 4),
 ('Linguistics', 2, '3.50 - 4.00', 4),
 ('Media', 1, '3.50 - 4.00', 2),
 ('Psychology', 1, '3.50 - 4.00', 2),
 ('RSEP', 2, '3.00 - 3.49', 4),
 ('Sciences', 4, '3.00 - 3.49', 6)]

 * sqlite:///temp.db
Done.

[(26, 75)]

In [149]:
%%sql

 * sqlite:///temp.db
Done.
Done.
Done.
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: FROM tempstudmh;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [154]:
%%sql
SELECT department, study_year, cgpa_score, count(date_time)
FROM tempstudmh
WHERE (depression = 'Y'
OR anxiety = 'Y'
OR panic_attack = 'Y')
GROUP BY cgpa_score ;

 * sqlite:///temp.db
Done.

[('Law', 3, '0 - 1.99', 1),
 ('Engineering', 2, '2.00 - 2.49', 1),
 ('Information Technology', 1, '2.50 - 2.99', 3),
 ('Engineering', 1, '3.00 - 3.49', 28),
 ('Engineering', 2, '3.50 - 4.00', 31)]

In [151]:
%%sql
SELECT department, study_year, cgpa_score, count(date_time)
FROM tempstudmh
WHERE depression = 'Y'
AND anxiety = 'Y'
GROUP BY cgpa_score;

 * sqlite:///temp.db
Done.

[('Information Technology', 1, '2.50 - 2.99', 1),
 ('Information Technology', 1, '3.00 - 3.49', 9),
 ('Sciences', 2, '3.50 - 4.00', 8)]

In [152]:
%%sql
SELECT department, study_year, cgpa_score, count(date_time)
FROM tempstudmh
WHERE (depression = 'Y'
OR anxiety = 'Y')
GROUP BY cgpa_score;

 * sqlite:///temp.db
Done.

[('Information Technology', 1, '2.50 - 2.99', 3),
 ('Engineering', 1, '3.00 - 3.49', 25),
 ('RSEP', 2, '3.50 - 4.00', 23)]

Querying anxiety and depression grouped by department shows a trend in students experiencing anxiety and depression with CGPA over 3.00.

In [60]:
%%sql
SELECT *
FROM tempstudmh
WHERE anxiety = 'Y'
AND depression = 'Y'
AND panic_attack = 'Y' 
GROUP BY department

 * sqlite:///temp.db
Done.

[('2020/07/08 15:48:00', 'F', 20, 'Engineering', 3, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 12:05:00', 'M', 19, 'Information Technology', 1, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/13 10:11:26', 'F', 24, 'Media', 2, '3.50 - 4.00', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/13 11:46:13', 'F', 18, 'Psychology', 1, '3.50 - 4.00', 'Y', 'Y', 'Y', 'N'),
 ('2020/07/08 12:52:00', 'F', 24, 'Sciences', 4, '3.00 - 3.49', 'Y', 'Y', 'Y', 'N')]

Of 101 students, 5 experienced all three concerns depression, anxiety and panic attack, all of which have CGPA of 3.00 > none of which sought specialst help. There is no defining trend regarding department or study year in this sample group.

In [62]:
%%sql
SELECT *
FROM tempstudmh
WHERE specialist_hlp = 'Y';

 * sqlite:///temp.db
Done.

[('2020/07/08 13:58:00', 'F', 24, 'Information Technology', 3, '3.50 - 4.00', 'Y', 'Y', 'Y', 'Y'),
 ('2020/07/08 14:31:00', 'M', 18, 'Information Technology', 2, '3.50 - 4.00', 'Y', 'Y', 'N', 'Y'),
 ('2020/07/08 14:56:00', 'F', 24, 'Engineering', 2, '2.50 - 2.99', 'Y', 'N', 'Y', 'Y'),
 ('2020/07/08 15:27:00', 'F', 23, 'Arts', 1, '2.50 - 2.99', 'Y', 'N', 'Y', 'Y'),
 ('2020/07/08 15:57:00', 'F', 19, 'Information Technology', 1, '3.50 - 4.00', 'Y', 'N', 'Y', 'Y'),
 ('2020/07/13 10:33:47', 'F', 18, 'Psychology', 1, '3.50 - 4.00', 'Y', 'Y', 'N', 'Y')]

In [120]:
%%sql
SELECT count(*), gender, study_year, cgpa_score
FROM tempstudmh
WHERE anxiety = 'Y'
AND depression = 'Y'
AND panic_attack = 'Y' 
AND specialist_hlp = 'Y'
GROUP BY department

 * sqlite:///temp.db
Done.

[(1, 'F', 3, '3.50 - 4.00')]

Of the 101 students only 1, repied yes to all fields - female, 3rd year student with 3.5-4 CGPA.

In [155]:
%%sql
SELECT
SUM(CASE WHEN gender = 'M' THEN 1 ELSE 0 END) AS male_count,
  SUM(CASE WHEN gender = 'F' THEN 1 ELSE 0 END) AS female_count
FROM tempstudmh;

 * sqlite:///temp.db
Done.

[(26, 75)]

Running a query on gender split between respondents, 101 is a small sample, and gender split may skew data outcomes.